name: CI Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ci-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v4
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - name: Set up JDK 17
      uses: actions/setup-java@v1
      with:
        java-version: 17
    # 测试多个 Spring Boot 版本的兼容性
    - run: ./gradlew test --rerun-tasks

  publish-snapshot:
    runs-on: ubuntu-latest
    # 仅在推送到 main 分支时发布快照版本
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: ci-test

    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - run: ./gradlew publishAggregationToCentralPortalSnapshots -Pversion=-SNAPSHOT -P'signing.keyId=${{ secrets.signingKeyId }}' -P'signing.password=${{ secrets.signingPassword }}' -P'sonatypeUsername=${{ secrets.sonatypeUsername }}' -P'sonatypePassword=${{ secrets.sonatypePassword }}' --rerun-tasks
